.banner{
	text-align: center;
	color: yellow;
	margin-left: 2%;
	font-size: 50px;
	padding-top: 1%;
}
.choice{
	text-align: center;
	list-style-type: none;
	padding: 2%;
}
.choice a{
	text-decoration: none;
	font-size: 30px;
	color: white;
	display: inline-block;
	height: 100px;
	width: 550px;
	padding: 1.5%;
}
.main{
	background-image: url(img/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
.choice :hover{
	background-color: orange;
	color: white;
	text-decoration: none;
}
.row{
	display: flex;
	align-items: center;
}
.row img{
	display: flex;
	width: 130px;
	height: 130px;
	float: left;
}

.main-menu{
	display: flex;
	text-align: right;
}
.main-menu li{
	list-style: none;
}
.main-menu li a{
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 24px;
	color: black;
}
.search-box{
	margin-left: auto;
}
.search-box .sb-sbm{
	height: 35px;
	width: 35px;
	color: transparent;
	background: transparent url(img/search-512.png) no-repeat center;
	background-size: contain;
	border: none;
}
.search-box .sb-text{
	border-radius: 20px;
	padding: 0 10px;
	line-height: 35px;
	width: 250px;
}